.Footer {
  display: flex;
  font-family: "Rubik", sans-serif;
  padding: 150px 0 100px 0;
  background: #F5F9FC;
  z-index: -1;


  .content {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  h1 {
    font-size: 32px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #0b132a;
  }

  p {
    color: #4f5665;
    line-height: 32px;
    padding-block: 15px;
  }

  .Link {
    color: #afb5c0;
  }

  .box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 650px;
  }

  ul li:first-child {
    font-weight: 700;
  }

  ul li {
    font-weight: 400;
    list-style: none;
    line-height: 40px;
    color: #4f5665;
    cursor: pointer;
  }

  ul li:hover{
    color: #23a6f0;
  }

  .block {
    width: 335px;
  }
  .top {
    display: flex;
    gap: 28px;

    button {
      background: #23a6f0;
      color: #23a6f0;
      width: 33px;
      height: 33px;
      border-radius: 50%;
    }
  }
}
