.wrapper {
  display: flex;
  min-height: 100vh;
  background: #f5f6f8;
  font-family: "Montserrat", sans-serif;
}

.sidebar {
  width: 230px;
  background: white;
  padding: 30px 20px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
  padding-left: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 15px;
  padding-top: 15px;

  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;

    a {
      color: black;
      &:hover {
        color: #1976d2;
      }
    }
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-block: 5px;
}

.header {
  height: 70px;
  background: white;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  padding: 0 30px;
}

.content {
  padding: 30px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 20px;

  img {
    width: 43px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  span {
    font-weight: 600;
    color: #4f5665;
  }

  button {
    background: none;
    font-weight: 600;
    color: #23a6f0;
    cursor: pointer;
  }
}

.notification {
  border: 0.5px solid black;
  padding: 7px 10px 7px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    transition: 0.2s;
    color: #23a6f0;
    border: 0.5px solid #23a6f0;
  }
}

.logoutBtn {
  background: none;
  font-size: 16px;

  
  &:hover {
    transition: 0.2s;
    color: #23a6f0;
    cursor: pointer;
  }
}
