.Join {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-top: 130px;
  margin-bottom: -60px;

  h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    color: #0b132a;
  }
  p {
    color: #4f5665;
    font-weight: 400;
    line-height: 28px;
    width: 555px;
  }

  .email {
    padding: 30px 0 0 0;
    display: flex;
    width: 80%;

    input {
      width: 100%;
      border: 1px solid #4f5665c4;
      padding: 20px;
      border-radius: 5px;
      font-size: 18px;
      background: white;
    }
    &::placeholder {
      font-size: 18px;
    }

    button {
      padding-inline: 25px;
      color: white;
      background: #23a6f0;
      font-family: "Rubik", sans-serif;
      font-size: 18px;
      cursor: pointer;
      border-radius: 5px;
      margin-left: -5px;
    }
    button:hover {
      transition: 0.2s;
      color: #23a6f0;
      background: #dcdcdc;
    }
  }
}
