.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   padding-block: 60px;
  padding-top: 30px;
  h1 {
    font-size: 35px;
    font-weight: 700;
    width: 560px;
  }
  .image1 {
    background-color: rgba(35, 166, 240, 0.7);
    border-radius: 50%;
  }
}
.images {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.about_box {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
  }
}
.about_tittle {
  padding-block: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  p{
    width: 690px;
    line-height: 1.5;
  }
}
