.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  h1 {
    font-size: 50px;
    font-weight: 600;
    width: 530px;
    line-height: 1;
  }
  p {
    font-size: 14px;
    width: 465px;
    line-height: 1.5;
  }
  button {
    padding: 14px 50px;
    border-radius: 10px;
    background-color: rgba(35, 166, 240, 1);
    color: white;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.7);
  }
  button:hover {
    background-color: white;
    color: rgba(35, 166, 240, 1);
    transition: 0.5s;
    border: 1px solid rgba(35, 166, 240, 1);
  }
}
.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  padding: 30px;
  gap: 10px;
  width: 328px;
  height: 316px;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.15);
  h3 {
    font-size: 16px;
  }
  p {
    color: rgba(115, 115, 115, 1);
    width: 240px;
    line-height: 1.3;
  }
}
.block_kurs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;
}

.box:hover {
  transition: 1s;
  background-color: rgba(35, 166, 240, 0.7);
  h4,
  p {
    color: white;
  }
}
.name_kurs {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.kurs_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  h1 {
    font-size: 60px;
    font-weight: 700;
  }
  h2 {
    color: rgba(35, 166, 240, 1);
    font-size: 60px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    width: 540px;
    line-height: 1.5;
  }
}
.infor_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;
}
.infor_box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: rgba(245, 249, 252, 1);
  width: 540px;
  height: 487px;
  padding: 20px;
  opacity: 1;
}
.information {
  display: flex;
  align-items: center;
  gap: 10px;
}
.infor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  p {
    font-size: 14px;
    width: 340px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
}
.Available_box {
  display: flex;
  //   justify-content: space-between;
  gap: 60px;
}
.Available_courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-block: 50px;
  h1 {
    font-size: 45px;
    font-weight: 700;
  }
  p {
    width: 460px;
    font-size: 16px;
    text-align: center;
  }
}

.Available {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  .heart {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 40px;
    background-color: rgb(254, 253, 253);
    color: rgb(21, 19, 19);
    border-radius: 50%;
    display: none;
  }

  .icon {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  span {
    font-size: 14px;
    width: 340px;
    color: gray;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    width: 290px;
  }
  button {
    padding: 10px 15px;
    border-radius: 20px;
    color: rgba(35, 166, 240, 0.7);
    background: white;
    font-size: 14px;
    font-weight: 800;
    border: 2px solid rgba(35, 166, 240, 0.7);
  }
  button:hover {
    background-color: rgba(35, 166, 240, 0.7);
    color: white;
    transition: 0.5s;
  }
}
.Available:hover {
  .heart {
    display: flex;
    transition: 0.5s;
  }
  .heart:hover {
    background-color: red;
  }
}

.comment_block {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  p {
    font-size: 14px;
    line-height: 1.5;
    color: #4f5665;
  }
}

.comment {
  display: flex;
  gap: 12px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.comment_title {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 16px;
    margin: 0;
    color: #0b132a;
  }

  span {
    font-size: 13px;
    color: #4f5665;
  }
}
.comment_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
}
.comment_tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 40px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    width: 390px;
    text-align: center;
    
  }
}
.Available_comment {
  display: flex;
  justify-content: space-between;
  padding-block: 50px;
}
