.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  h1 {
    font-size: 50px;
    font-weight: 600;
    width: 530px;
    line-height: 1;
  }
  p {
    font-size: 14px;
    width: 465px;
    line-height: 1.5;
  }
  button {
    padding: 14px 50px;
    border-radius: 10px;
    background-color: rgba(35, 166, 240, 1);
    color: white;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.7);
  }
  button:hover {
    background-color: white;
    color: rgba(35, 166, 240, 1);
    transition: 0.5s;
    border: 1px solid rgba(35, 166, 240, 1);
  }
}
.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  padding: 30px;
  gap: 10px;
  width: 328px;
  height: 316px;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.15);
  h3 {
    font-size: 16px;
  }
  p {
    color: rgba(115, 115, 115, 1);
    width: 240px;
    line-height: 1.3;
  }
}
.block_kurs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;
}

.box:hover {
  transition: 1s;
  background-color: rgba(35, 166, 240, 0.7);
  h4,
  p {
    color: white;
  }
}
.name_kurs {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.kurs_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  h1 {
    font-size: 60px;
    font-weight: 700;
  }
  h2 {
    color: rgba(35, 166, 240, 1);
    font-size: 60px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    width: 540px;
    line-height: 1.5;
  }
}
.infor_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px;
}
.infor_box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: rgba(245, 249, 252, 1);
  width: 540px;
  height: 487px;
  padding: 20px;
  opacity: 1;
}
.information {
  display: flex;
  align-items: center;
  gap: 10px;
}
.infor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  p {
    font-size: 14px;
    width: 340px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
}

.Available_courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-block: 50px;
  h1 {
    font-size: 45px;
    font-weight: 700;
  }
  p {
    width: 460px;
    font-size: 16px;
    text-align: center;
  }

  .block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 360px;
    height: 550px;
    border-radius: 14px;
    -webkit-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
    box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
    position: relative;
    h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 13px;
      left: 13px;
      width: 85px;
      height: 30px;
      background: #e74040;
      border-radius: 3px;

      font-family: Montserrat;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      text-align: center;
      color: #ffffff;
    }
    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 230px;
      left: 280px;
      width: 38px;
      height: 38px;
      border-radius: 20px;
      font-size: 18px;
      -webkit-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
      -moz-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
      box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
    }

    & h4:hover {
      background: #e74040;
      color: #ffffff;
      transition: 0.5s;
    }
    .text {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252b42;
      }

      p {
        text-align: start;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
        width: 320px;
      }
      .icon {
        display: flex;
        align-items: center;
        gap: 14px;
        .url {
          display: flex;
          align-items: center;
          .time {
            width: 20px;
            height: 20px;
          }
          span {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #737373;
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 230px;
        height: 40px;
        border-radius: 21px;
        font-weight: 500;
        font-size: 13.06px;
        line-height: 100%;
        letter-spacing: 0%;
        border: 2px solid #23a6f0;
        color: #23a6f0;
        background: none;
      }
      & button:hover {
        background: #23a6f0;
        color: #ffffff;
        transition: 0.2s;
      }
    }
  }
  & .block:hover {
    background: rgba(228, 220, 220, 0.632);
    transition: 0.9s;
  }
}

.comment_block {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  p {
    font-size: 14px;
    line-height: 1.5;
    color: #4f5665;
  }
}

.comment {
  display: flex;
  gap: 12px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.comment_title {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 16px;
    margin: 0;
    color: #0b132a;
  }

  span {
    font-size: 13px;
    color: #4f5665;
  }
}
.comment_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
}
.comment_tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 40px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    width: 390px;
    text-align: center;
  }
}
.Available_comment {
  display: flex;
  justify-content: space-between;
  padding-block: 50px;
}
