.SmschatList {
  width: 100%;
  height: 100%;
  background:white;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  p {
    font-size: 14px;
    margin: 0;
  }

  span {
    font-size: 10px;
    color: white;
    align-self: flex-end;
  }
}

.incoming {
  align-self: flex-start;
  background:#363636;
  border-top-left-radius: 0;
}

.outgoing {
  align-self: flex-end;
  background: #23a6f0;
  color: white;
  border-top-right-radius: 0;

  span {
    color: #e0e0e0;
  }
}
