.course {
  border-radius: 10px;
  width: 1300px;
  padding: 25px;

  .courseButtons {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    button {
      padding: 15px 40px;
      border-radius: 5px;
      border: 1px solid #0000009b;
      color: #0000009b;
      font-size: 14px;
      cursor: pointer;
      background: none;
      font-family: "Montserrat", sans-serif;

      &:active {
        background: #23a6f0;
        color: white;
      }
    }
  }

  .courseBlocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    .cart {
      flex: 0 0 330px;   
      border: 1px solid #0000009b;
      border-radius: 6px;

      .cartImg {
        position: relative;

        img {
          width: 100%;
          height: 260px;   
          display: block;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          object-fit: cover;
        }

        .cartbuttons {
          position: absolute;
          top: 0;
          left: 0;

          button {
            padding: 6px 22px;
            margin: 12px;
            border-radius: 5px;
            font-size: 15px;
            background: red;
            color: white;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;
          }

          .icon {
            margin: 150px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:active {
              color: red;
            }
          }
        }
      }

      .description {
        padding: 18px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3 {
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
        }

        p {
          font-size: 12px;
        }

        .icons {
          display: flex;
          justify-content: space-between;
          font-size: 13px;

          .icon {
            display: flex;
            align-items: center;

            p {
              font-size: 10px;
              margin-left: 5px;
            }
          }
        }

        button {
          margin-top: auto;
          width: 140px;
          padding: 10px 12px;
          border-radius: 20px;
          border: 1px solid #23a6f0;
          background: none;
          color: #23a6f0;
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
