.Rating {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); // кара фон
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    .block {
      position: relative;
      width: 600px;
      height: 400px;
      padding: 30px;
      background: white;
      border-radius: 12px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;
      p {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 25px;
      }
      h3 {
        font-size: 28px;
        font-family: "Poppins", sans-serif;
      }

      .stars {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 100px;
        cursor: pointer;
      }

      input {
        width: 100%;
        height: 120px;
        border-radius: 10px;
        border: 1px solid #0000009b;
        padding: 15px;
        font-size: 14px;
      }

      button {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background: #23a6f0;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      .close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 22px;
        cursor: pointer;
        color: #666;

        &:hover {
          color: black;
        }
      }
    }
  }
}
