.Develop {
  .content {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 80px;
    .main {
      h1 {
        font-family: Rubik;
        font-weight: 700;
        font-size: 50px;
        line-height: 70px;
        letter-spacing: 0%;
        color: #0b132a;
      }
      button {
        width: 331;
        height: 59;
        top: 477px;
        left: 150px;
        opacity: 1;
        border-radius: 10px;
        padding-top: 17px;
        padding-right: 96px;
        padding-bottom: 17px;
        padding-left: 96px;
        gap: 10px;
        font-family: Rubik;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0%;
        color: #ffffff;
        background: #23a6f0b2;
        box-shadow: 0px 4px 29px 0px #23a6f0b2;
        margin-top: 60px;
      }
    }
  }
}
