.Popular {
  .content {
    .man {
      display: flex;
      align-items: center;
      margin-left: 30px;
      .block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 340px;
        height: 460px;
        border-radius: 14px;
        -webkit-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
        -moz-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
        box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
        position: relative;
        h5 {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 13px;
          left: 13px;
          width: 85px;
          height: 30px;
          background: #e74040;
          border-radius: 3px;

          font-family: Montserrat;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          text-align: center;
          color: #ffffff;
        }
        h4 {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 250px;
          left: 120px;
          width: 38px;
          height: 38px;
          border-radius: 20px;
          font-size: 18px;
          -webkit-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
          -moz-box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
          box-shadow: 0px -1px 11px 5px rgba(34, 60, 80, 0.21);
        }
        & h4:hover {
          background: #e74040;
          color: #ffffff;
          transition: 0.3s;
        }
        .text {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          h2 {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #252b42;
          }

          p {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #737373;
          }
          .icon {
            display: flex;
            align-items: center;
            gap: 14px;
            .url {
              display: flex;
              align-items: center;
              .time {
                width: 20px;
                height: 20px;
              }
              span {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: #737373;
              }
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            width: 150px;
            height: 40px;
            border-radius: 21px;
            font-weight: 500;
            font-size: 13.06px;
            line-height: 100%;
            letter-spacing: 0%;
            border: 2px solid #23a6f0;
            color: #23a6f0;
            background: none;
            text-transform: capitalize;
          }
          & button:hover {
            background: #23a6f0;
            color: #ffffff;
            transition: 0.2s;
          }
        }
      }

      & .block:hover {
        background: #f3ededab;
        transition: 0.8s;
      }
    }
  }
}
