.Header {
  color: #4f5665;
  padding-block: 23px;
  
  h2{
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     font-size: 24px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    display: flex;
    width: 450px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-between;
    a {
      color: #4f5665;
    }
    a:hover{
        color: #23A6F0;
    }
  }

  .Buttons {
    display: flex;
    width: 260px;
    justify-content: space-between;

    .SignIn{
        background: none;
        color:#23A6F0;
        font-weight: 700;
        font-size: 16px;
        padding-inline: 24px;
        border-radius: 7px;
    }
    .SignIn:hover{
        transition: 0.2s;
        cursor: pointer;
        color: #4f5665;
        background: #dcdcdcc3;
    }

    .Join{
        border-radius: 7px;
        background: #23A6F0;
        color:#ffffff;
        font-weight: 700;
        font-size: 16px;
        padding: 15px 24px 15px 24px;
    }

     .Join:hover{
        transition: 0.2s;
        cursor: pointer;
        color: #23A6F0;
        background: #dcdcdcc3;
    }
  }
}
